[Unit]
Description=Xavier's photo service

[Service]
ExecStart=/usr/bin/node /home/xavier/dev/nodejs/photoServer/index.js
# Required on some systems
#WorkingDirectory=/opt/nodeserver
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-xavier-photo
#User=xavier
#Group=users
Environment=NODE_ENV=production PORT=1337

[Install]
WantedBy=multi-user.target
